
body {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

table, tr, td{
    border:1px solid black;
}

/*Header - Navbar*/

header {
    width: 100%;
    background:black;
    color: white;    
    line-height: 30px;
    position: fixed;
    top:0;
}

nav {
    background: black;
    height: 100px;
    
}

nav ul {
    margin: 0px;
    padding: 20px;
    list-style: none;  
    margin-left: 100px;
}

.logo img {
    position: absolute;
    margin-top: 0px;
    margin-left: 0px;
    height: 100px;
    width: 120px;
}

a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

nav ul li {
    float: left;  
    width: 180px;
    height:40px;
    background-color:black;
    line-height: 40px;
    text-align: center;
    font-size: 16px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    display: block;
}

nav ul li a:hover {
    background-color:gray;
}

nav ul li ul li {
    display: none;
    background-color: black;
}

nav ul li:hover ul li {
    display: block;
}

.intro {
    padding: 200px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.contents {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
}
/*Features */

.features {
    background: white;
    color: black;
    padding: 200px;
    display: flex;
    flex-direction: row;
    text-align: center;
}

.features figure{
    margin:auto;
    width:200px;
    text-decoration: none;
}

.features figure img {
    width: 200px;
}


.features-deals {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    text-align: center;
}

/*Sub - Features */

h2 {
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif
}

.sub-features {
    background: white;
    color:black;
    padding: 20px;
    display: flex;
    flex-direction: row;
    text-align: center;   
}

.sub-features figure{
    margin:auto;
    width:200px;
}

.sub-features figure img {
    width: 200px;
}

/*Footer*/

footer {
    background:black;
    color: white;
    padding: 20px;
    text-align: center;
}

/*Testimony on all destination pages*/
.reviewcontainer{
    border-radius: 25px;
    border: 2px solid black;
    padding: 20px;
    width: 500px;
    
    margin-top: 20px;
}

.userinitials{
    font-size: 20px;
    font-style: arial;
    text-align: center;
    color: white;
    border-radius: 30px;
    background-color: grey;
    padding-top: 6px;
    width: 40px;
    height: 32px;
    display: inline-block;
}

.firstname{
    padding-left: 10px;
    display: inline-block;
}

.reviewthumb{
    border-radius: 5px;
    border: 1px solid black;
    text-align: center;
    display: inline-block;
    padding-top: 5px;
    margin-left: 10px;
    width: 40px;
    height: 22px;
}

.reviewthumb:hover{
    background-color: grey;
}

/* Login page */

.login{
    margin:auto;
    margin-top: 200px;
    width:300px;
    height:200px;
    background-color: black;
    padding:60px 0px 0px 80px;
    
}

.errorMessage{
    font-size: 12px;
    padding-right: 80px;
    color: red;
}

/*admin page */

.adminNav{
    width: 200px;
    height: 100%;
    padding: 30px 10px 10px 10px;
    line-height: 2em;
    background-color: #242A3A;
    
    color: grey;
    position: fixed;
    
}

.adminNav a {
    color: grey;
    text-decoration: none;
}

.adminNav a:hover{
    color: white;
    font-weight: bold;
}

.adminContent{
    padding-top: 30px;
    margin-left: 240px;
    display: inline-block;
    vertical-align: top;
    position: absolute;
    color: black;
}

.adminImageSingle{
    border: 1px solid grey;
    margin: 5px;
    display: inline-block;
}

.adminImages{
    width: 740px;
    border:1px solid black; 
    padding:5px; 
    text-align:right;
   
}

.adminImageRadio{
    margin-top: 10px;
    vertical-align: top;
    display: inline-block;
}

/* About us page */

#aboutUs figure{
    display: inline-block;
}

#aboutUs figure{
    text-align: center;
    font-weight: bold;
}

#aboutUs img{
    width: 100%;
    height: 100%;
}

#guide1, #guide2, #guide3, #guide4{
    color: black;
    margin-top: 100px;
}

/* Toggle */

.test{
    width: 160px;
    height: 200px;
}

#imgContainer {
    display: none;
    position: fixed;
    z-index:1;
    margin:auto;
    left:0px;
    top:150px;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    
}

.modalImage{
    display: none;
    position: relative;
    margin: auto;
    margin-top: 200px;
    /* width: 100%; */
    max-width: 400px;
}